.App {
  text-align: center;
  background-color: rgb(109, 108, 108);
  min-height: 100vh;
  color: aliceblue;
}

.VarDesInput{
  max-width: 200px;
  margin-left: 10px;
}

.VarResInput{
  max-width: 200px;
  margin-left: 10px;
}

.space{
  margin: 10px;
}