.App {
  text-align: center;
  background-color: rgb(62, 57, 57);
  min-height: 100vh;
  color: aliceblue;
  padding: 20px;
}


.VarDesInput{
  max-width: 200px;
  margin: 10px;
  background-color: transparent;
  color: aliceblue;
  border-color: rgb(33, 205, 205);
  padding: 5px;
}

.VarResInput{
  max-width: 200px;
  margin: 10px;
  background-color: transparent;
  color: aliceblue;
  border-color: rgb(33, 205, 205);
  padding: 5px;
}

.inputSelect{
  margin: 10px;
  max-width: 200px;
  background-color: transparent;
  color: aliceblue;
  border-color: rgb(33, 205, 205);
  padding: 5px;
}

.space{
  margin: 10px;
}


.button-link {
  display: inline-block;
  padding: 10px 20px;
  background-color: #007bff; /* Color de fondo del botón */
  color: #fff; /* Color del texto del botón */
  text-decoration: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.button-link:hover {
  background-color: #0056b3; /* Cambio de color al pasar el cursor */
}
